.practiceareas {
  display: grid;
  grid-template-columns: 40% 60%;
}

@media screen and (max-width: 812px) {
  .practiceareas .headerPane .headerTxt {
    font-size: 2.8em;
  }

  .practiceareas .headerPane .subTextpa {
    font-size: 1.2em;
  }

  .practiceareas .areaList {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 732px) {
  .practiceareas .headerPane .headerTxt {
    font-size: 2.1em;
  }
  .gavel {
    width: 20%;
  }
}

@media screen and (max-width: 612px) {
  .practiceareas .areaList {
    font-size: 1.45em;
  }
}

@media screen and (max-width: 548px) {
  .practiceareas .areaList {
    font-size: 1.35em;
  }
}

@media screen and (max-width: 540px) {
  .practiceareas .headerPane .headerTxt {
    font-size: 1.9em;
  }
  .practiceareas .areaList {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 512px) {
  .practiceareas .areaList {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 414px) {
  .practiceareas .headerPane .headerTxt {
    font-size: 1.5em;
  }

  .practiceareas .headerPane .subTextpa {
    font-size: 0.8em;
  }

  .practiceareas .areaList {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 414px) {
  .practiceareas .headerPane .headerTxt {
    font-size: 1.3em;
  }

  .practiceareas .headerPane .subTextpa {
    font-size: 0.6em;
  }

  .practiceareas .areaList {
    font-size: 0.6em;
  }
}

.headerPane {
  background-color: rgba(205, 0, 51, 0.2);
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23ffffff' fill-opacity='0.36' fill-rule='evenodd'/%3E%3C/svg%3E");
  display: grid;
  grid-template-rows: 15fr 10fr 10fr 20fr 20fr 25fr;
  grid-template-columns: 30fr 70fr;
  max-height: 87vh;
}

.areaPane {
  background-color: rgba(247, 247, 247, 0.4);
  /* background-color: #800020; */
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h16v2h-6v6h6v8H8v-6H2v6H0V0zm4 4h2v2H4V4zm8 8h2v2h-2v-2zm-8 0h2v2H4v-2zm8-8h2v2h-2V4z' fill='%23570000' fill-opacity='0.06' fill-rule='evenodd'/%3E%3C/svg%3E");
  display: grid;
  max-height: 87vh;
  grid-template-rows: 12.5fr 75fr 12.5fr;
}

.listItems {
  vertical-align: middle;
  padding-bottom: 50px;
}
.areaList {
  display: grid;
  grid-template-rows: repeat(5, 20fr);
  list-style-type: none;
  grid-row: 2 / 3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.4em;
  color: rgba(103, 0, 26, 1);
  align-items: center;
  font-family: "Libre Baskerville", serif;
  font-weight: Bold;
}

.gavel {
  display: inline;
  /* width: 20%; */
}

.headerTxt {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: flex-end;
  /* justify-self: right; */
  margin: 0px 10px 0px 0px;
  font-size: 3.2em;
  color: rgba(103, 0, 26, 1);
  font-family: "Libre Baskerville", serif;
  font-weight: Bold;
  text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
}

.subTextpa {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  align-self: flex-start;
  /* justify-self: left; */
  margin: 0;
  font-size: 2em;
  color: rgba(103, 0, 26, 1);
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
}
